AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
    # (1)
    RewriteEngine On

    # (2)
    Options +FollowSymlinks
</IfModule>

# Security headers
<IfModule mod_headers.c>
  Header set Content-Security-Policy "base-uri 'none'; frame-src 'self' www.googletagmanager.com; frame-ancestors 'self'; default-src 'self'; script-src 'self' 'unsafe-inline' www.googletagmanager.com; connect-src *; img-src 'self'; style-src 'self' 'unsafe-inline'; font-src 'self' data:; object-src 'none'; form-action 'self'; manifest-src 'self'; media-src 'self'; prefetch-src 'self'"

  <FilesMatch "\\.(json)$">
    Header unset Content-Security-Policy
  </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "DENY"
  Header always set Strict-Transport-Security "max-age=16070400; includeSubDomains"
</IfModule>

<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"

  <FilesMatch "\\.(appcache|atom|bbaw|bmp|crx|css|cur|eot|f4[abpv]|flv|geojson|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|topojson|tt[cf]|txt|vcard|vcf|vtt|webapp|web[mp]|webmanifest|woff2?|xloc|xml|xpi)$">
    Header unset X-XSS-Protection
  </FilesMatch>
</IfModule>

# Caching
<IfModule mod_headers.c>
  <FilesMatch "\\.(ico|pdf|flv|jpg|jpeg|png|gif|swf|ttf|otf|woff|woff2|eot|svg|mp4|webp|avif)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
  <FilesMatch "\\.(css)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
  <FilesMatch "\\.(js)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
  <FilesMatch "\\.(html|htm|php|json|webmanifest)$">
    Header set Cache-Control "public, max-age=0, must-revalidate"
  </FilesMatch>
</IfModule>
