/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #666566;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #666566;
    color: #fff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "_bootstrap";
@import "_font-awesome";

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    @include transition(all 0.3s ease);
    padding-bottom: 2px;
    &:hover {
        text-decoration: none;
        border-bottom: 1px solid;
    }
}

.header-section {
    position: relative;
    padding: 50px 0;
    z-index: 10;
    @media (max-width: 767px) {
        text-align: center;
    }
    h1 {
        margin-top: 0;
        font-size: 60px;
        font-weight: 600;
        a {
            color: #5d6165;
            padding-bottom: 0;
            &:hover {
                border-width: 3px;
            }
        }
    }
    .container {
        &:after {
            display: block;
            position: absolute;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #fff;
            left: 50%;
            bottom: -20px;
            margin-left: -20px;
        }
    }
    p {
        color: #a3aaab;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 0;
    }
    ul {
        text-align: right;
        @media (max-width: 767px) {
            text-align: center;
        }
        li {
            padding-left: 0;
            padding-right: 0;
            @media (max-width: 767px) {
                padding-left: 5px;
                padding-right: 5px;
            }
            a {
                &:hover {
                    border: none;
                }
            }
        }
    }
}

.about-section {
    position: relative;
    background-color: #314559;
    padding: 50px 0;
    z-index: 9;
    @media (max-width: 767px) {
        text-align: center;
    }
    h2 {
        color: #fff;
        margin: 0;
    }
    h3 {
        color: rgba(255,255,255,0.6);
    }
    p {
        color: #fff;
        font-size: 22px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .btn-default {
        border-radius: 3px;
        padding: 10px 16px;
        color: #5d6165;
        font-size: 20px;
        &:hover {
            color: #314559;
            background-color: #fff;
        }
    }
    figure {
        text-align: center;
        img {
            display: inline-block;
            border-radius: 100%;
            max-height: 300px;
        }
    }
    .container {
        &:after {
            display: block;
            position: absolute;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #314559;
            left: 50%;
            bottom: -20px;
            margin-left: -20px;
        }
    }
}

.quote-section {
    position: relative;
    background-color: #EF6C00;
    padding: 50px 0;
    z-index: 8;
    h2 {
        color: #fff;
        margin: 0;
        small {
            color: #fff;
            display: block;
            margin: 20px 0 0;
        }
    }
    .container {
        &:after {
            display: block;
            position: absolute;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #EF6C00;
            left: 50%;
            bottom: -20px;
            margin-left: -20px;
        }
    }
}

.work-section {
    position: relative;
    z-index: 7;
    padding: 50px 0;
    h2 {
        color: #5d6165;
        margin: 0;
    }
    .container {
        &:after {
            display: block;
            position: absolute;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #fff;
            left: 50%;
            bottom: -20px;
            margin-left: -20px;
        }
    }
    .gallery {
        margin-top: 40px;
        > div {
            margin: 10px 0;
            min-height: 205px;
            figure {
                text-align: center;
                img {
                    display: inline-block;
                    max-height: 350px;
                }
            }
        }
    }
}

.contact-section {
    position: relative;
    padding: 50px 0;
    z-index: 6;
    background-color: #D84315;
    color: #fff;
    h2 {
        margin: 0;
        a {
            color: #fff;
        }
    }
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
